@font-face{
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'MaruBuri-Regular';
}

#container{
    position: relative;
    left: 50%; margin-left: -720px;
}

#areaBox{
    width: 1440px; height: 900px;
    border: 1px solid red;
    position: fixed;
}

nav{
    height: 3rem; width: 100%;
    border-bottom: 1px solid rgb(150, 150, 150);
    background: white;
    z-index: 100;

    position: fixed;

    text-align: center;
}
nav #navText{
    word-spacing: 2rem;
    padding-top: 1rem;
    margin-left: -10rem;
}
#navText > span{font-weight: bold; color: blue;}
nav hr{
    border: 1px solid blue; width: 32%; margin-left: 0rem;
}

#article{width: 80rem;}
#article > p{
    width: 35rem;
}
#article > .leftText{
    position: relative;
    left: 5rem;
}
#article > .rightText{
    position: relative;
    left: 50rem;
}

#whiteBox1{height: 5rem;}
#whiteBox2{height: 100rem;}